<p id="notice"><%= notice %></p>
<div class="col-md-8 blog-main">
    <strong class="text-center">
        <%= link_to "Create New Article", new_article_path if logged_in?(:editor) %>
    </strong>

    <%= render @articles %>

</div>